// Kolory
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$text-color: #333;
$text-color-secondary: #6c757d;
$text-color-contrast: #ffffff;
$text-color-light: #f8f9fa; // Dodana nowa zmienna
$background-color-light: #ffffff;
$background-color-dark: #343a40;
$border-color: #dee2e6;

// Fonty
$font-family-base: "Arial", sans-serif;
$font-size-base: 16px;

// Breakpointy
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
